<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/23a9c9b2-f088-4c44-8ce2-8f6d260c06ea/resourceGroups/EmployeeManagerAPI_group/providers/Microsoft.ApiManagement/service/EmployeeManagerAPIapi/apis/EmployeeManagerAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/23a9c9b2-f088-4c44-8ce2-8f6d260c06ea/resourceGroups/EmployeeManagerAPI_group/providers/Microsoft.Web/sites/EmployeeManagerAPI</ResourceId>
    <ResourceGroup>EmployeeManagerAPI_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://employeemanagerapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fb1588aa-108a-4933-8cf7-f5d76a2a949c</ProjectGuid>
    <PublishUrl>https://employeemanagerapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$EmployeeManagerAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>